body {
  margin: 0;
  padding: 0;
  /*background-image: url('fondo.jpg');*/
  background-size: cover;
  background-attachment: fixed;
}

@media only screen and (max-width: 600px) {
  .form-login {
    width: 300px!important;
    max-width: 300px!important;
  }
}

@media only screen and (max-width: 600px) {
  #rowUp {
    padding-bottom: 100px!important;
  }
}

@media only screen and (max-width: 600px) {
  body {
    padding: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .divInit {
    /*padding-top: 130px!important;*/
  }
}

@media only screen and (max-width: 600px) {
  .cardImg {
    width: 200px!important;
  }
}

@media only screen and (max-width: 600px) {
  .cardCar {
    width: 200px!important;
  }
}

@media only screen and (max-width: 600px) {
  .btn-menu {
    width: 200px!important;
    max-width: 200px!important;
  }
}

html {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.divInit {
  justify-content: center;
  justify-content: center!important;
  align-items: center!important;
}

